<!DOCTYPE html>
<html>
  <head>
    <title>TallerNuevas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <p>Hello, <%= current_user.email %>    <%= link_to 'Sign out?', destroy_user_session_path, :method => 'delete', data: { confirm: 'Are you sure?' } %></p>
    <br>

    <% end %>
    <%= yield %>
  </body>
</html>
